.table-container{
    border: solid 1px rgb(0,0,0,0.2);
    width: fit-content;    
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}

.table{
    /* border: solid 1px rgb(0,0,0,0.2); */
    /* border: solid 1px rgb(0,0,0,0.3); */
    background-color: white;
    border-collapse: collapse;
    /* padding: 10; */
}


tr , thead{
    /* padding: 100px; */
    border-bottom: solid 1px rgb(0,0,0,0.5);

}
td ,th{
    /* min-width: 100px; */
    /* width: 150px; */
    padding: 10px;
    /* border: solid 1px red; */
    /* flex: 1; */
}

.table-head{
    /* min-width: 100px; */
    text-align: left;
    text-transform: capitalize;
    /* border: solid 1px red; */
    /* padding: 10px; */
}
