.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: white;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    color: black;
}

.header-left ,.header-right{
    display: flex;
    align-items: center;
    gap:20px;
}
.header-logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}
.header-links{
    margin-left: 30px;
    display: flex;
    gap:30px;
    align-items: center;
    font-weight: 500;
    cursor: pointer;

}

.header-btn{
    border: 1px solid rgb(220,220,220);

}
.register{
    color: white;
    background-color: black;
}
.login{
    color: black;
    background-color: rgb(240,240,240);
}